.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* alert */
.auto-hide {
    animation: hideAlert 5s forwards;
  }
  @keyframes hideAlert {
    to {
        opacity: 0;
        display: none;
    }
  }
  .alert-container {
    position: relative;
    display: none;
  }
  .alert-container.show {
    display: block;
    margin-bottom: 20px;
  }
  